.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(0, 0, 0) 1% , rgb(78, 146, 219) 44% , rgb(11, 33, 70) 55% , rgb(226, 194, 31) 57% , rgb(208, 232, 83) 59% , rgb(107, 246, 52) 68% , rgb(0, 0, 0) 80%);
background: -o-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(78, 146, 219) 44% , rgb(11, 33, 70) 55% , rgb(226, 194, 31) 57% , rgb(208, 232, 83) 59% , rgb(107, 246, 52) 68% , rgb(0, 0, 0) 80%);
background: -ms-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(78, 146, 219) 44% , rgb(11, 33, 70) 55% , rgb(226, 194, 31) 57% , rgb(208, 232, 83) 59% , rgb(107, 246, 52) 68% , rgb(0, 0, 0) 80%);
background: -moz-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(78, 146, 219) 44% , rgb(11, 33, 70) 55% , rgb(226, 194, 31) 57% , rgb(208, 232, 83) 59% , rgb(107, 246, 52) 68% , rgb(0, 0, 0) 80%);
background: -webkit-linear-gradient(left , rgb(0, 0, 0) 1% , rgb(78, 146, 219) 44% , rgb(11, 33, 70) 55% , rgb(226, 194, 31) 57% , rgb(208, 232, 83) 59% , rgb(107, 246, 52) 68% , rgb(0, 0, 0) 80%);






}